body {
    .main-view {
        width: 100%;
        display: flex;
        .left-bar {
            width: $side-bar-width;
            background: $main-color;
            height: 100vh;
            overflow: auto;
        }
        .content {
            background: $white;
            width: calc(100% - ( 2 * $side-bar-width));
            height: 100vh;
            overflow: auto;
        }
        .right-bar {
            width: $side-bar-width;
            background: $white;
            height: 100vh;
            overflow: auto;
            border-left: 3px solid $main-color;
        }
    }
}